@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFFFF5;
}

header h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:100;
	font-size:6em;
	line-height:.8em;
	text-align:center;
	padding:0px;
}

#firstName{
	letter-spacing:.3em;
	margin-bottom:0px;
}

#lastName{
	letter-spacing:.5em;
	margin-top:0px;
	margin-bottom:0px;
}

div#pullDown{
	position:absolute;
	top:-750px;
	width:981px;
	height:794px;
	display:block;
	left:50%;
	margin-left:-490px;
	z-index:50;
	overflow:visible;
	cursor: pointer;
}
#pullDownLinks a{
	opacity: .6;
	font-family: Georgia, "garamond", serif;
	font-style:italic;
	font-size:2em;
	text-decoration:none;
	color: black;
}

#pullDownLinks a:hover{
	opacity: .8;
}
ul.listContent{
	list-style-type:none;
	position: absolute;
	top:-650px;
	left:50%;
	margin-left:50px;
	z-index:100;
	opacity: .8;
	text-align:left;
	font-family: Georgia, "garamond", serif;
	font-style:italic;
	font-size:1em;
	line-height:300%;
}

#brain{
	border:0px;
	height: 483px;
	z-index:0;
}

#brain_rightHalf{
	position:absolute;
	right:50%;
	margin-right:-20px;
	top:225px;
}

#brain_leftHalf{
	position:absolute;
	left:50%;
	margin-left:-5px;
	top:225px;
}

#brainCloseUps{
	position:absolute;
	height: 483px;
	left:50%;
	margin-left:-242px;
	top:225px;
}

#rightBrain{
	visibility:hidden;
	position:inherit;
}

#leftBrain{
	visibility:hidden;
	position:inherit;
}

div#coming_soon{
	text-align:center;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font-family: Georgia, "garamond", serif;
	font-style:italic;
	font-size:3em;
}

footer {
	text-align: center;
	bottom: 25px;

}