@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFFFF5;
	text-align:center;
	
}

h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:100;
	font-size:6em;
	letter-spacing:.2em;
	line-height:.8em;
	text-align:center;
	padding-top:0px;
	padding-bottom:10px;
	margin: 0px;	
}
/*
table#wrapper{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	border:0;
	
}

div#body{
	text-align:center;
	position:absolute;
	z-index:1000;
	top:150px;
}

div#pluck{
	text-align:center;
	position:absolute;
	z-index:750;
	top:150px;
}

div#digestive{
	text-align:center;
	position:absolute;
	z-index:500;
	top:150px;
}

div#brain{
	text-align:center;
	position:absolute;
	z-index:1500;
	top:150px;
}
*/
div#brain{
	text-align:center;
	padding:30px;
}

#brain_hover:hover{
	opacity: 0.8;
}

div#coming_soon{
	text-align:center;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	font-family: Georgia, "garamond", serif;
	font-style:italic;
	font-size:3em;
}

footer {
	text-align: center;
	bottom: 25px;

}